/* GalleryForm.css */
.gallery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image-item {
  position: relative;
}

.image-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-item button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

