/* ListAlbumFoto.css */
.album-list {
  display: flex;
  flex-wrap: wrap;
}

.album-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.delete-container {
  margin-left: auto; /* Push the delete button to the right */
}

.delete-button {
  cursor: pointer;
}
