/* src/components/DocumentList.module.css */
.document-list-container {
    text-align: center;
  }
  
  .document-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .document-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 250px; /* Adjust the card width as needed */
  }
  
  .document-card:hover {
    transform: scale(1.05);
  }
  
  .document-card img {
    width: 50%;
    height: 150px; /* Adjust the image height as needed */
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .document-card-content {
    padding: 15px;
  }
  
  .document-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .document-card p {
    margin: 10px 0;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  